body{
    background-color: rgb(255, 255, 255);
    overflow-y: hidden;
}

.bar {
    fill: steelblue;
}

.highlight {
    fill: orange;
}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

.title {
    fill: teal;
    font-weight: bold;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    overflow-y: hidden;
}

.container1{
    overflow-y: hidden;
}
#flowerroot{
    float: left;
    width: 49%;
}
#barplot{
    float: left;
    width: 49%;
}
.arrow{
    float:right;
    align-self: center;
}
.charts{
    background-color: white;
}

.charts:first-child {
    margin-right: 10px;
} 

#myviz{
    width: 180%;
    height: 100%;
    overflow-x: hidden;
    /* background-color: aliceblue; */
}
.charts1{
    display: inline-block;
}

.myYaxis .tick:last-child{
    opacity: 0;
}
#bubble{
    overflow-x: hidden;
    overflow-y: hidden;
}
.bubbles {
    stroke-width: 2px;
    stroke: white;
}
.bubbles:hover {
    stroke: black;
}

/* .x{
    font-size: 18;
} */


.bars:hover{
    stroke: black;
}
#flowerplot{
    width: 180%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 20%;
    /* background-color: aliceblue; */
} 

@media (max-width: 1680px) {
    #flowerplot{
        width: 140%;
    }
}